<ion-view title='Athletics Menu'>
  <ion-nav-bar class="bar-emu">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div class="list list-inset">
      <a class="item item-thumbnail-left" ui-sref="athleticschedulesfeeds">
        <img ng-src="img/s-cal2.jpg">

        <h2>Schedules</h2>

        <p>For all your favorite EMU sports teams</p>
      </a>
      <a class="item item-thumbnail-left" ui-sref="#">
        <img ng-src="img/tickets.png">

        <h2>Tickets</h2>

        <p>Purchase tickets online</p>
      </a>

    </div>

  </ion-content>
</ion-view>
