<ion-view view-title="Events">
  <ion-nav-bar class="bar-emu">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="bar bar-subheader">
    <button class="button icon ion-android-arrow-back"  ng-hide="noPrevMonth()" ng-click="prevMonth()"></button>
    <h2 class="title">{{monthTitle}}</h2>
    <button class="button icon ion-android-arrow-forward" ng-click="nextMonth()"></button>
  </div>
  <ion-content class="has-subheader">

    <div class="item" ng-repeat="dailyEvents in currentEvents">
      <h2>{{dailyEvents[key]}}</h2>

      <div class="list" ng-repeat="event in dailyEvents.value">
        <div class="item" ng-click="showEventDetail(event)">
          <h2>{{event.summary}}</h2>
          {{event.description}}
          <p>{{event.startDate}} - {{event.endDate}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>