<ion-view view-title="Feeds">
  <ion-nav-bar class="bar-emu">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
      <div ng-if="feeds.length > 0" class="item  item-select">
        <select ng-model="selectedfeed">
          <option ng-repeat="name in feednames"  value="{{name}}">{{name}}</option>
        </select>
      </div>
    <div class="list card">
      <div class="item item-text-wrap" ng-repeat="item in feed | filter:{feedName:selectedfeed}" ng-click="showFeedDetail(item)">
        <div class="item" href="{{link(item.link)}}">
          <h2>{{item.postDate | asDate | date:'MM/dd'}}: {{item.title}}</h2>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
