<ion-view title='News and Events Menu'>

    <ion-nav-bar class="bar-emu">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">

			<a class="item item-thumbnail-left item-text-wrap" ui-sref="feeds">
			<img ng-src="img/rss.png">
			<h2>News</h2>
			<p>Read EMU-related feeds</p>
			</a>

			<a class="item item-thumbnail-left item-text-wrap" ui-sref="events">
			<img ng-src="img/events.png">
			<h2>Events</h2>
			<p>Calendar of events on and around campus</p>
			</a>

			</div>
    </ion-content>
</ion-view>
