<ion-view title='Quick Link Menu'>

    <ion-nav-bar class="bar-emu">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">

            <!-- change _blank to _system to open in external browser -->
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://handshake.emich.edu/', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/handshake2.png">
                <h2>Handshake </h2>
                <p>Job Search</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://booknow.appointment-plus.com/419rkl8y/ ', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/appointment.png">
                <h2>CHHS Appointment Scheduling</h2>
                <p>Book an appointment for Advising</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://booknow.appointment-plus.com/3x1mjpp4/', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/appointment.png">
                <h2>COB Advising</h2>
                <p>Book an appointment for Advising</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://app.acuityscheduling.com/schedule.php?owner=11249877&amp;bgColor=transparent', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/appointment.png">
                <h2>COE Advising</h2>
                <p>Book an appointment for Advising</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://booknow.appointment-plus.com/7qc1j7vq/', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/appointment.png">
                <h2>COT Academic Advising Appointment Calendar</h2>
                <p>Book an appointment for Advising</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://booknow.appointment-plus.com/vn3lg50/', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/appointment.png">
                <h2>Exploratory Advising</h2>
                <p>Book an appointment for Advising</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap"
               onclick="window.open('https://booknow.appointment-plus.com/6gy23etv/', '_blank', 'location=yes', 'closebuttoncaption=Done','toolbar=yes','toolbarposition=top')">
                <img ng-src="img/appointment.png">
                <h2>Honors College Advising</h2>
                <p>Book an appointment for Advising</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap" ui-sref="blackboard">
                <img ng-src="img/quick-links.png">
                <h2>BlackBoard </h2>
                <p>BlackBoard App</p>
              </a>
			</div>
    </ion-content>
</ion-view>
