<ion-view view-title="Registration">

    <!--<ion-tabs class="tabs-icon-top tabs-fullwidth tabs-stable tabs-striped tabs-background-stable tabs-color-active-positive" style="width:100%">-->
    <ion-tabs class="tabs-icon-top tabs-fullwidth tabs-striped">
        <!-- Search Tab -->
        <ion-tab title="Search" icon="icon ion-ios-search" href="#/reg/search">
            <ion-nav-view cache-view="false" name="tab-search"></ion-nav-view>
        </ion-tab>

        <!-- Cart Tab -->
        <ion-tab title="Cart" icon="icon ion-ios-cart" href="#/reg/cart" badge="cartCount"
                 badge-style="badge-assertive">
            <ion-nav-view cache-view="false" name="tab-cart"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>